# IntelliJ #
############
.idea/
*.iml

# Properties #
##############
environment.properties

# OS X #
########
.DS_Store

# Gradle #
#############
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.gradle