ULTRA-1001-F001 -- login using valid credentials
ULTRA-1001-F002 -- login using invalid password
ULTRA-1001-F003 -- login using invalid username
ULTRA-1002-F001 -- logout of app
ULTRA-1002-F002 -- nav to courses tab
ULTRA-1002-F003 -- nav to community tab
ULTRA-1002-F004 -- nav to content collection tab
ULTRA-1002-F005 -- nav to services tab
ULTRA-1002-F006 -- nav to system admin tab
